@import './variables.scss';


:root {
  font-family: 'Roboto', sans-serif;

  body {
    margin: 0;
  }
}

html {
  --global-background-color: #{$bg-light};
  --global-text-color: #{$text-color-dark};
}

html[data-theme='dark'] {
  --global-background-color: #{$bg-dark};
  --global-text-color: #{$text-color-light};
}